

/** HEADER **/
 #header-nav {
    background-color: gray;
    border-radius: 0;
    border: 5px solid black;
    height: 200px;
    color: black;
    
}
.navbar-brand {
    float: left;
}
.navbar-brand h1 {
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 3em;
    line-height: 2;
    left: 50px;
}
.navbar-default .navbar-toggle {
    border: 3px solid black;
}
.icon-bar {
    border: 2px solid black;
}
li {
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
}
#nav-list {
    border: 2px solid black;
}
.black-line {
    background-color: black;
    color: black;
}



/**TILES**/

#our-menu {
    font-size: 4em;
}
#tile-header {
    text-align: center;
    font-size: 3em; 
}

.category-tile{
    width: 100%;
    background-color: lightblue;

}
.category-tile>p {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: medium;
}


@media (min-width: 768px) {
    .hidden-md {
        display: none;
    }
}
.container {
    width: 95%;
}
